.myModal {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 15; /*Sit on top*/
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.781); /* Fallback color */
}


.board-detail{
    width: 955px;
    height: 850px;
    background-color: white;
    position: absolute;
    left: 450px;
    top: 25px;
}

/* 사진 */
.board-img{
    width: 600px;
    height: 600px;
    background-color: lightgray;
    position: absolute;
}

.board-img img{
    width: 600px;
    height: 600px;
}

/* right 글, 옷정보 */
.board-right{
    width: 355px;
    height: 850px;
    position: absolute;
    margin: 0px 0px 0px 600px;
}

.board-user{
    width: 355px;
    height: 80px;
    border-bottom: 1px solid rgb(190, 190, 190);
}

.board-userImg{
    width: 55px;
    height: 55px;
    float: left;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 50%;
    background: gray;
    margin: 13px 14px;
    overflow: hidden;
}

.board-userImg img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: -1px;
    cursor: pointer;
}

.board-id{
    width: 200px;
    height: 80px;
    float: left;
    padding: 24px 0px;
}

.board-id p{
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

.board-follow{
    width: 60px;
    height: 80px;
    float: left;
    font-size: 18px;
    font-weight: 500;
    padding: 23px 8px 23px 0px;
    cursor: pointer;
}

.board-textDiv{
    width: 355px;
    height: 345px;
    border-bottom: 1px solid rgb(190, 190, 190);
}

.board-text{
    width: 335px;
    height: 267px;
    position: absolute;
    margin: 10px 10px 0px;
}

.board-hashtag{
    width: 328px;
    height: 58px;
    position: absolute;
    margin: 278px 14px 8px;
    color: rgb(0, 46, 83);
    font-weight: 300;
}

.board-stateicon{
    width: 355px;
    height: 53px;
    border-bottom: 1px solid rgb(190, 190, 190);
}

.board-heartCount{
    width: 200px;
    height: 27px;
    font-size: 15px;
    font-weight: 400;
    margin: 13px 0px 13px 11px;
    float: left;
}

.board-heart{
    width: 25px;
    height: 25px;
    margin: 14px 0px 13px 72px;
    float: left;
}

.board-heart img{
    width: 25px;
    height: 25px;
}

.board-etc{
    width: 25px;
    height: 25px;
    margin: 14px 2px 13px 12px;
    float: left;
}

.board-etc img{
    width: 22px;
    height: 23px;
}

.board-clothesInfo{
    width: 355px;
    height: 345px;
}














/* bottom 댓글 */
.board-bottom{
    width: 600px;
    height: 250px;
    position: absolute;
    margin: 600px 0px 0px 0px;
    border-right: 1px solid rgb(190, 190, 190);
}

.commentCount{
    width: 600px;
    height: 30px;
    background: limegreen;
}

.board-comment{
    width: 600px;
    height: 160px;
    background: rgb(116, 171, 255);
}

.board-commentWrite{
    width: 600px;
    height: 60px;
    background: rgb(255, 201, 251);
}

.commentWrite{

}

.commentSubmit{

}