.postBtn{
    cursor: pointer;
}

.modal{
    display: flex;
    
}
.md_overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 2000px;
    z-index: 10;
}
.md_content {
    position: fixed;
    width: 383px;
    height: 237px;
    /*가운데 정렬*/
    top: 42%;
     left: 40%;
    /* transform: translateX(-50%); */

    background-color: white;
    border:  1px solid #1a4664;
    z-index: 11;
    border-radius: 10px;
}
.xbutton{
    position: absolute;
    top: 3%;
    left: 91%;
}
.md_content #text{
    position: relative;
    margin-left: 10px;
    top: 5px;
    font-size: 15px;
}
.md_content > i{
    border: 1px solid black;
    border-radius: 29px;
    padding: 20px;
    font-size: 44px;
    margin: 23px 19px;
    cursor: pointer;
}
 .modal_text {
     position: relative;
     top: -9px;
}

.hidden {
    display: none;
}